<style>
  .card-content p {
    margin-bottom: 5px; /* Ajusta el margen inferior de los párrafos */
  }
</style>

<h1>Listado de libros</h1>

<div class="container"> <!-- Se añade un contenedor para centrar las tarjetas -->
  <div class="row"> <!-- Eliminada la clase "row" anterior -->
    {{#each book}}
    <div class="col s12"> <!-- Se ajusta el ancho de la tarjeta al 100% del ancho de la página -->
      <div class="card hoverable">
        <div class="card-content valign-wrapper">
          <div>
            <span class="card-title">{{name}}</span>
            <div class="divider"></div>
            <p><strong>Autor:</strong> {{autor}}</p>
            <p><strong>Categoría:</strong> {{categoria}}</p>
            <p><strong>ISBN:</strong> {{isbn}}</p>
            <p><strong>Existencias:</strong> {{numero_copias}}</p>
            <p><strong>Descripción:</strong> {{description}}</p>
          </div>
        </div>
        <div class="card-action valign-wrapper">
          <a href="/book/edit/{{_id}}" class="teal-text valign-wrapper">
            <i class="material-icons">edit</i>
            <span>Editar libro</span>
          </a>
          <a href="javascript: deleteBook('{{_id}}')" class="red-text valign-wrapper">
            <i class="material-icons">delete</i>
            <span>Borrar libro</span>
          </a>
        </div>
      </div>
    </div>
    {{else}}
    <p>No hay libros que listar.</p>
    {{/each}}
  </div>
</div>
